* {
    margin: 0;
    padding: 0;
}
.html,.body{
    width: 100%;
    height: 100%
}
html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
    
}
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overflow: auto;
    /* 启用滚动功能 */
    -ms-overflow-style: none;
    /* 适用于 Internet Explorer 和旧版 Edge */
    scrollbar-width: none;
    /* 适用于 Firefox */
}
/* Webkit 浏览器 */
body::-webkit-scrollbar {
    display: none;
    /* 隐藏滚动条 */
}
/*解决antd notification where选择器不兼容问题*/
.notification-notice-custom-content{
    .ant-notification-notice-with-icon{
        display: inline-block;
        text-align: left;
    }
}